@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 200vh;
    width: 100vw;
    font-family: 'Karla';
    background-size: cover;
    display: grid;
    grid-template-rows: 20vh 80vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(33, 26, 19);
    height: 20vh;
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav li {
    color: rgb(235, 220, 211);
    display: inline;
    float: right;
    font-size: 35px;
}

nav li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(235, 220, 211);
}

nav li a:last-of-type {
    margin-right: 5vw;
}

nav li:first-of-type {
    float: left;
}

a img {
    width: 190px;
    height: 20vh;
    image-rendering: optimizeQuality
}

header {
    background: white;
    height: 80vh;
    display: flex;
}

header .cortes {
    image-rendering: optimizeQuality;
    display: grid;
    grid-template-rows: 50vh 30vh ;
    align-items: center;
    justify-items: center;
    height: 70%;
    animation: cortesAnimation 2s;
}

header .precos {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 33vw;
    max-height: 100%;
}

@keyframes cortesAnimation {
    0% {
        margin-left: 84px;
    }

    100% {

    }
}